<a href="https://colab.research.google.com/github/qjasrubang01-design/Rubang-Jethro-Aaron-S.-CPE-311/blob/main/Rubang_Seatwork_7_2_Programming_Exercise_Data_Wrangling_with_Pandas_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Technological Institute of the Philippines | Quezon City - Computer Engineering
--- | ---
Course Code: | CPE 311
Code Title: |Computational Thinking with Python
2nd Semester | AY 2025-2026
|
**Seatwork 7.2** | **Programming Exercise: Data Wrangling with Pandas - Part 2**
--- | ---
Name | Rubang, Jethro Aaron S.
Section | CPE22S3
Date Performed: | February 19, 2026
Date Submitted: | February 19, 2026
Instructor: | Eng. NEAL BARTON JAMES MATIRA

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/3rd YR 2026 S2/CPE 311 (Data Sci 1)/Meteorite_Landings.csv')

df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

## Exercise 4

In [8]:
# Filter years 2005–2009
df_2005_2009 = df[(df['year'] >= 2005) & (df['year'] <= 2009)]

# Create pivot table
pivot_table = pd.pivot_table(
    df_2005_2009,
    index='year',
    columns='fall',
    values='mass (g)',
    aggfunc={
        'mass (g)': ['count', lambda x: x.quantile(0.95)]
    }
)

pivot_table

       <lambda_0>          count
fall         Fell    Found  Fell   Found
year
2005.0        NaN  4500.00   NaN   874.0
2006.0    25008.0  1600.50   5.0  2450.0
2007.0    89675.0  1126.90   8.0  1181.0
2008.0   106000.0  2274.80   9.0   948.0
2009.0     8333.4  1397.25   5.0  1492.0

In [9]:
summary_stats = df.groupby('fall')['mass (g)'].describe()
summary_stats

,count,mean,std,min,25%,50%,75%,max
fall,,,,,,,,
Fell,1075.0,47070.715023,717067.125826,0.1,686.00,2800.0,10450.0,23000000.0
Found,44510.0,12461.922983,571105.752311,0.0,6.94,30.5,178.0,60000000.0

In [10]:
taxi = pd.read_csv('/content/drive/MyDrive/3rd YR 2026 S2/CPE 311 (Data Sci 1)/2019_Yellow_Taxi_Trip_Data.csv')

# Convert dropoff time to datetime
taxi['tpep_dropoff_datetime'] = pd.to_datetime(taxi['tpep_dropoff_datetime'])

# Set dropoff time as index
taxi = taxi.set_index('tpep_dropoff_datetime')

# Resample hourly and sum selected columns
hourly = taxi.resample('H')[['trip_distance', 'fare_amount', 'tolls_amount', 'tip_amount']].sum()

# Top 5 hours with most tips
top_5_tips = hourly.sort_values('tip_amount', ascending=False).head(5)

top_5_tips

/tmp/ipython-input-417859304.py:10: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly = taxi.resample('H')[['trip_distance', 'fare_amount', 'tolls_amount', 'tip_amount']].sum()

                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 16:00:00         10676.95     67797.76        699.04    12228.64
2019-10-23 17:00:00         16052.83     70131.91       4044.04    12044.03
2019-10-23 18:00:00          3104.56     11565.56       1454.67     1907.64
2019-10-23 15:00:00            14.34       213.50          0.00       51.75
2019-10-23 19:00:00            98.59       268.00         24.48       25.74

# Conclusion

The pivot table analysis shows trends of meteorite discoveries in the year 2005 to 2009, which discloses dissimilarity in the frequency and extreme mass value of found and observed meteorite falls. The summary statistics indicate that found meteorites are the most abundant in terms of quantity and the distributions of masses range widely because of extreme values.

In the case of taxi data, the resampling at hourly gives an insight on the revenue trends. The five hours that have the highest number of tips represent peak hours of demand, indicating that time-based aggregation can be used to determine trends in operations in transportation data.