<a href="https://colab.research.google.com/github/qjasrubang01-design/Rubang-Jethro-Aaron-S.-CPE-311/blob/main/Rubang_Seatwork_7_1_Programming_Exercise_Data_Wrangling_with_Pandas_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Technological Institute of the Philippines | Quezon City - Computer Engineering
--- | ---
Course Code: | CPE 311
Code Title: |Computational Thinking with Python
2nd Semester | AY 2025-2026
<hr> | <hr>

**Seatwork 7.1** | **Programming Exercise: Data Wrangling with Pandas - Part 1 **
--- | ---
**Name** | Rubang, Jethro Aaron S.
**Section** | CPE22S3
**Date Performed**: | February 12, 2026
**Date Submitted**: | February 12, 2026
**Instructor**: | Eng. NEAL BARTON JAMES MATIRA

<hr>

Using the meteorite data from the Meteorite_Landings.csv file,
 -update the year column to only contain the year
 -convert it to a numeric data type
 - create a new column indicating whether the meteorite was observed falling before 1970.
 -Set the index to the id column
 -extract all the rows with IDs between 10,036 and 10,040 (inclusive) with loc[].

    Hint 1: Use year.str.slice() to grab a substring.
    Hint 2: Make sure to sort the index before using loc[] to select the range.

Bonus: There's a data entry error in the year column. Can you find it? (Don't spend too much time on this.)

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/3rd YR 2026 S2/CPE 311 (Data Sci 1)/Meteorite_Landings.csv')

In [ ]:
df

,name,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,fell_before_1970
id,,,,,,,,,,
1,Aachen,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)",True
2,Aarhus,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)",True
6,Abee,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)",True
10,Acapulco,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)",False
370,Achiras,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)",True
...,...,...,...,...,...,...,...,...,...,...
31356,Zillah 002,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)",False
30409,Zinder,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.78333, 8.96667)",False
30410,Zlin,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.25, 17.66667)",True
31357,Zubkovsky,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.78917, 41.5046)",False
30414,Zulu Queen,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)",False

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/3rd YR 2026 S2/CPE 311 (Data Sci 1)/Meteorite_Landings.csv')

df['year'] = df['year'].str.slice(6,10)
df['year'] = pd.to_numeric(df['year'], errors='coerce')

df['fell_before_1970'] = df['year'] < 1970

df = df.set_index('id')

df = df.sort_index()

table = df.loc[10036:10040]

table

,name,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,fell_before_1970
id,,,,,,,,,,
10036,Enigma,Valid,H4,94.0,Found,1967.0,31.33333,-82.31667,"(31.33333, -82.31667)",True
10037,Enon,Valid,"Iron, ungrouped",763.0,Found,1883.0,39.86667,-83.95000,"(39.86667, -83.95)",True
10038,Enshi,Valid,H5,8000.0,Fell,1974.0,30.30000,109.50000,"(30.3, 109.5)",False
10039,Ensisheim,Valid,LL6,127000.0,Fell,1491.0,47.86667,7.35000,"(47.86667, 7.35)",True

# Conclusion

In this activity, I learned to clean and arrange the meteorite dataset and update the year column with the year and transform it into numeric type. I also added a new column to show whether a meteorite has fallen pre 1970 and it is rather easier to identify the trends over time. I was able to utilize the loc[] efficiently when extracting certain rows by setting the id column as the index and sort it. In the process, I observed that there was an error in the data entry, some of the years turned out to be invalid (e.g., 0), and this demonstrates the significance of observing and cleaning the data before the analysis. In general, this practice made me learn how to manipulate data using Pandas and prepare it to conduct further statistical processing in Python.